.parent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #000000;
  min-width: 0;
  min-height: 0;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: fixed;
  background: none;
  color: #535353;
  height: auto;
  left: 0px;
  top: 0px;
  z-index: 999;
  padding: 16px 40px;
}
.logoFillIn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___5MEse {
  display: flex;
}
.img__xQwq2 {
  object-fit: cover;
  height: 40px;
}
.img__xQwq2 > picture > img {
  object-fit: cover;
}
.img__xQwq2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__bYk8D {
  object-fit: cover;
}
.img__bYk8D > picture > img {
  object-fit: cover;
}
.img__bYk8D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___7Tya5 {
  object-fit: cover;
}
.img___7Tya5 > picture > img {
  object-fit: cover;
}
.img___7Tya5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link___461Yg {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ac8d5b;
  font-family: "Belleza", sans-serif;
}
.parent .link___461Yg:hover {
  color: #ffffff;
}
.link__xr2Ti {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ac8d5b;
  font-family: "Belleza", sans-serif;
}
.parent .link__xr2Ti:hover {
  color: #ffffff;
}
.link__nwQk2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ac8d5b;
  font-family: "Belleza", sans-serif;
}
.parent .link__nwQk2:hover {
  color: #ffffff;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 150px 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__zNwSt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.text__quXt8 {
  position: relative;
  width: 467px;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  padding-left: 40px;
  align-self: flex-start;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__quXt8 {
    width: 100%;
    min-width: 0;
    padding: 0px 30px;
  }
}
.h4 {
  color: #ac8d5b;
  font-family: "Belleza", sans-serif;
  height: auto;
}
.column___10H1M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 40px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___10H1M {
    padding: 0px 30px;
  }
}
.img__uArDk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 751px;
  flex-shrink: 0;
  border-radius: 15px;
}
.img__uArDk > picture > img {
  object-fit: cover;
}
.img__uArDk > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  min-width: 0;
  padding: 40px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    height: auto;
    padding: 2px 0px 17px;
  }
}
.footerParentColumns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.footerParentColumns > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.footerParentColumns > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.footerParentColumns > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerParentColumns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerParentColumns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__hijhF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #00000033, 0px 4px 16px 0px transparent;
  min-width: 0;
  padding: 8px;
  border: 0px none #ff0b0b;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__hijhF {
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
  }
}
.text__mnYij {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column___3Cecf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___3Cecf {
    padding: 50px 0px;
  }
}
.logo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50%;
}
.logo > picture > img {
  object-fit: cover;
}
.logo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__dgumT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 40px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__dgumT {
    padding: 0px;
  }
}
.text__cRr7M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Belleza", sans-serif;
  font-weight: 200;
  text-align: right;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cRr7M {
    text-align: center;
    font-weight: 400;
    padding-bottom: 10px;
    display: block;
  }
}
.text__mqLJy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  text-align: right;
  font-family: "Lato", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mqLJy {
    text-align: center;
  }
}
.link__qA1PY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  text-align: right;
  font-family: "Lato", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__qA1PY {
    text-align: center;
  }
}
