.parent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background: #000000;
  min-width: 0;
  min-height: 0;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: #000000;
  padding: 16px;
}
.logoFillIn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___49Rt6 {
  display: flex;
}
.img__n98N5 {
  object-fit: cover;
  height: 40px;
}
.img__n98N5 > picture > img {
  object-fit: cover;
}
.img__n98N5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___6Sw2M {
  object-fit: cover;
}
.img___6Sw2M > picture > img {
  object-fit: cover;
}
.img___6Sw2M > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__uj9LY {
  object-fit: cover;
}
.img__uj9LY > picture > img {
  object-fit: cover;
}
.img__uj9LY > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__a0QOl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ac8d5b;
  font-family: "Belleza", sans-serif;
}
.link__c2AP7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ac8d5b;
  font-family: "Belleza", sans-serif;
}
.link__qoTkV {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ac8d5b;
  font-family: "Belleza", sans-serif;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__f00W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.text__ub0Ec {
  position: relative;
  width: 467px;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  padding-left: 40px;
  align-self: flex-start;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ub0Ec {
    width: 100%;
    min-width: 0;
    padding: 8px;
  }
}
.h4 {
  color: #ac8d5b;
  font-family: "Belleza", sans-serif;
}
.column__h2SSy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___0ZyCv {
  position: relative;
  object-fit: cover;
  max-width: 70%;
  border-radius: 35px;
}
.img___0ZyCv > picture > img {
  object-fit: cover;
}
.img___0ZyCv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___0ZyCv {
    max-width: 100%;
  }
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  min-width: 0;
  padding: 40px 8px;
}
.footerParentColumns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.footerParentColumns > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.footerParentColumns > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.footerParentColumns > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerParentColumns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerParentColumns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fSrl1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fSrl1 {
    padding-bottom: 20px;
  }
}
.link__jPaWk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 40px;
  color: #ffffff;
  font-weight: 300;
  padding-bottom: 10px;
  font-family: "Lato", sans-serif;
  min-width: 0;
}
.link__cMla7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 40px;
  color: #ffffff;
  font-weight: 300;
  padding-bottom: 10px;
  font-family: "Lato", sans-serif;
  min-width: 0;
}
.link__oohY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 40px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  min-width: 0;
}
.column___5JhtC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__b2UNq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 50%;
}
.img__b2UNq > picture > img {
  object-fit: cover;
}
.img__b2UNq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__ujlCd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 40px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ujlCd {
    padding: 0px;
  }
}
.text__t7UEv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Belleza", sans-serif;
  font-weight: 200;
  text-align: right;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__t7UEv {
    text-align: center;
    display: block;
  }
}
.text___1Es0I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  text-align: right;
  font-family: "Lato", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___1Es0I {
    text-align: center;
  }
}
