.parent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background: #000000;
  min-width: 0;
  min-height: 0;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  background: #000000;
  padding: 16px;
}
.logoFillIn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__nsze6 {
  object-fit: cover;
  height: 40px;
}
.img__nsze6 > picture > img {
  object-fit: cover;
}
.img__nsze6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__tEsYe {
  object-fit: cover;
}
.img__tEsYe > picture > img {
  object-fit: cover;
}
.img__tEsYe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__ypPp8 {
  object-fit: cover;
}
.img__ypPp8 > picture > img {
  object-fit: cover;
}
.img__ypPp8 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__xobDt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ac8d5b;
  font-family: "Imprima", sans-serif;
}
.link___5Bmdr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ac8d5b;
  font-family: "Imprima", sans-serif;
}
.link___8B7Jd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ac8d5b;
  font-family: "Imprima", sans-serif;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__f00W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.text__ub0Ec {
  position: relative;
  width: 467px;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  padding-left: 40px;
  align-self: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ub0Ec {
    width: 100%;
    min-width: 0;
    padding: 8px;
  }
}
.h4 {
  color: #ac8d5b;
  font-family: "Imprima", sans-serif;
}
.column__h2SSy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___0ZyCv {
  position: relative;
  object-fit: cover;
  max-width: 70%;
}
.img___0ZyCv > picture > img {
  object-fit: cover;
}
.img___0ZyCv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___0ZyCv {
    max-width: 100%;
  }
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  min-width: 0;
  padding: 40px 8px 40px 0px;
}
.footerParentColumns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.footerParentColumns > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.footerParentColumns > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.footerParentColumns > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerParentColumns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footerParentColumns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__aHqnf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__aHqnf {
    padding-bottom: 20px;
  }
}
.text__qBsc4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 2;
  font-weight: 200;
  padding-left: 50px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qBsc4 {
    text-align: center;
    padding-left: 0px;
  }
}
.column__e6SSz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__d6Ooo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__d6Ooo {
    padding-bottom: 20px;
  }
}
.column__ydzu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 40px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ydzu {
    padding: 0px;
  }
}
.text__hTnnR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Imprima", sans-serif;
  font-weight: 200;
  text-align: right;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hTnnR {
    text-align: center;
  }
}
.text__vBoHq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 200;
  text-align: right;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vBoHq {
    text-align: center;
  }
}
